<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}kasperhansen.com{% endblock %}</title>

        {% include 'assets/bundle.html' ignore missing %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
